<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8">
  <title>Puolueen kannattajakorttien muodostaja</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" integrity="sha384-c4XWi4+MS7dBmCkPfB02+p/ExOF/ZBOfD2S4KR6mkmpBOg7IM6SUpA1KYZaVr7qE" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</head>
<body ng-app="FillApp"  ng-controller="FillController">
  <h1>Puolueen kannattajakorttien muodostaja</h1>
  <p>
    Tällä palvelulla voi muodostaa haluamasi puolueen kannattajakortteja
    koneellisesti. Rajapinta sijaitsee tässä osoitteessa eli
    <tt>https://kannatus.liittovaltio.fi/</tt>. Käytä UTF-8 -koodausta
    nimissä. Katso tarvittaessa
    <a href="?puolue=Piraattipuolue&syntynyt=1983-03-28&etunimet=Ville%20Petteri&sukunimi=Virtanen&selvennys=Ville%20Virtanen&kotikunta=Lepp%C3%A4virta">esimerkki</a>.
    Tarvitset vielä seuraavat GET-muuttujat mukaan pyyntöön:
  </p>

  <form method="get" action=".">
    <div class="line">
      <label for="puolue">Puolue:</label>
      <input name="party" type="text">
    </div>
    <div class="line longer">
      <label for="etunimet">Etunimet:</label>
      <input id="etunimet" ng-change="updateClar()" ng-model="fname" name="fname" autocomplete="given-name" type="text">
      <span>(luettele kaikki nimet)</span>
    </div>
    <div class="line">
      <label for="sukunimi">Sukunimi:</label>
      <input id="sukunimi" ng-change="updateClar()" ng-model="lname" name="lname" autocomplete="family-name" type="text">
    </div>
    <div class="line">
      <label for="selvennys">Nimenselvennys:</label>
      <input id="selvennys" ng-change="autoClarCheck()" ng-model="clar" name="clarification" type="text">
      <span>(käytetään allekirjoituksen alla)</span>
    </div>
    <div class="line">
      <label for="syntynyt">Syntymäaika:</label>
      <input id="syntynyt" ng-model="bday" name="bday" autocomplete="bday" type="date">
    </div>
    <div class="line">
      <label for="kotikunta">Kotikunta:</label>
      <input id="kotikunta" ng-change="updateLocation()" ng-model="city" name="city" autocomplete="address-level2" type="text">
    </div>
    <div class="line">
      <label for="paikka">Allekirjoituspaikka:</label>
      <input id="paikka" ng-change="autoLocationCheck()" ng-model="location" name="location" type="text">
    </div>
    <div class="line">
      <input type="reset" value="Tyhjennä">
      <input type="submit" value="Lataa kortti">
    </div>
  </form>
  <address>
    Palvelun on toteuttanut <a href="https://zouppen.iki.fi">Joel
    Lehtonen</a> Piraattipuolueen kannattajakorttien keräilyä varten.
    Palvelua saa käyttää koneellisesti muilta sivuilta ja minkä
    tahansa puolueeksi pyrkivän yhdistyksen toimesta. Älkää sikailko,
    bannia tulee.
    <a href="https://github.com/zouppen/kannattaja">Lähdekoodit</a>
    löytyvät GitHubista.
  </address>
</body>
</html>
